################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HyperTaskCore/bin
/HyperTaskCore/obj
/HyperTaskFirebase/bin
/HyperTaskFirebase/obj
/HyperTaskFirebase/pp-app-1893d-a10a5bc8bf7a.json
/HyperTaskServices/bin
/HyperTaskServices/obj
/HyperTaskFirebase/logs
/HyperTaskTest/bin
/HyperTaskTest/obj
/HyperTaskTools/obj
/HyperTaskTools/bin
/.vscode
/HyperTask/app
/node_modules
/package-lock.json
/.vs/HyperTaskApi
/.vs/HabitTrackerFirebase
/HyperTaskWebApi/obj
/HyperTaskWebApi/bin/Debug/netcoreapp3.1
