################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HabitTrackerFirebase
/HabitTrackerCore/bin
/HabitTrackerCore/obj
/HabitTrackerFirebase/bin
/HabitTrackerFirebase/obj
/HabitTrackerFirebase/pp-app-1893d-a10a5bc8bf7a.json
/HabitTrackerServices/bin
/HabitTrackerServices/obj
/HabitTrackerFirebase/logs
/HabitTrackerTest/bin
/HabitTrackerTest/obj
/HabitTrackerTools/obj
/HabitTrackerTools/bin
/.vscode
/HabitTrackerFirebase/app
/node_modules
/package-lock.json
.vs/HyperTaskApi/v16/TestStore/1/000.testlog
