################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HabitTrackerFirebase
/HabitTrackerCore/bin/Debug/netcoreapp3.0
/HabitTrackerCore/obj
/HabitTrackerFirebase/bin/Debug/netcoreapp3.0
/HabitTrackerFirebase/obj
/HabitTrackerFirebase/pp-app-1893d-a10a5bc8bf7a.json
/HabitTrackerServices/bin/Debug/netcoreapp3.0
/HabitTrackerServices/obj
/HabitTrackerFirebase/appsettings.json
/HabitTrackerFirebase/logs
/HabitTrackerTest/bin/Debug/netcoreapp3.0
/HabitTrackerTest/obj
